<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Artistas</title>
</head>
<body>
  <h1>Lista de Artistas</h1>
  <ul>
    <% artistas.forEach(artista => { %>
      <li><%= artista.nome %> - <%= artista.generoMusical %></li>
    <% }) %>
  </ul>
  <a href="/artistas/novo">Adicionar Novo Artista</a>
</body>
</html>
